# Windows
Thumbs.db
Desktop.ini

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project
dist/
build/
.env
.env.local
.DS_Store

# Logs
logs/
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo
