body {
  background-color: #0b0e14;
  color: #c7c7c7;
  font-family: Consolas, monospace;
  padding: 2rem;
}

.section {
  margin-bottom: 2rem;
}

.primary { color: cyan; }
.secondary { color: magenta; }
.neutral { color: gray; }
.success { color: #3cff3c; }
.alert { color: #ff4d4d; }
.system { color: darkgray; }

#transmission-line span {
  font-size: 1.1rem;
}
